<!DOCTYPE html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    </head>

    <form action="/search" method="GET">
        <div class="search">
            <input type="text" id="q" name="q" class="search-box" />
            <span class="search-button">
                <span class="search-icon"></span>
            </span>
        </div>
    </form>

    <div class="suggestions-dropdown" style='color: rgb(44, 253, 222); font-size: 12pt; font-family: monospace'>
        <span id="suggestions-title" style='color: white'>Suggestions</span>
        <ol class="suggestions">
        </ol>
    </div>

    {% if results %}
    <div class="results" style='color: white; font-size: 14pt; font-family: monospace'> 
        <span id="results-title">Results</span>
        <ol>
            {% for item in results %}
            <li style='color: white; font-size: 14pt; font-family: monospace'>{{ item }}</li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
    
    <script>
        $('.search-button').click(function () {
            console.log('.search-button.click(function)')
            $(this).parent().toggleClass('open');
        })
    </script>

    <script>
        function search() {
            query = $('.search-box').val();
            console.log('.search-box val()', query)
            window.location.href = '/search?q=' + query;
        }
    </script>
    
    <script>
        $('#suggestions-title') .hide();
        $('.search-box').on('input', function (event) {
            console.log('triggered event', event);
            if (this.value.length == 0) {
                $('.suggestions').empty()
                return
            }
            else if (event.originalEvent.data == ' ') {
                $('#suggestions-title').show();
                $.ajax({
                    url: "/suggestions?q=" + encodeURI(this.value), 
                    success: function (result) {
                        console.log('function(result)', result)
                        $('.suggestions').empty()

                        $.each(result, function (i, r) {
                            console.log('i=', i, 'r=', r)
                            $('.suggestions').append(`<li><a href="/search?q=${r}"` + ` style="color: white" class="list-group-item">${r}</a></li>`)
                        });
                    }
                });
            }
        });
    </script>
    
</html>